In [33]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col, array_contains, avg, kurtosis, mean, skewness

# Get or instantiate a SparkContext and register it as a singleton object
sc = SparkSession.builder.appName('adq').getOrCreate()

In [6]:
delimiter = ","
# A DataFrame is created by reading a file
df = sc.read.format("csv").option("inferSchema", True).option("header", True).option("sep", delimiter).load("TSLA.csv")

df.printSchema()
df.show()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

+----------+---------+---------+---------+---------+---------+--------+
|      Date|     Open|     High|      Low|    Close|Adj Close|  Volume|
+----------+---------+---------+---------+---------+---------+--------+
|2010-06-29|     19.0|     25.0|17.540001|23.889999|23.889999|18766300|
|2010-06-30|25.790001|    30.42|23.299999|    23.83|    23.83|17187100|
|2010-07-01|     25.0|    25.92|    20.27|21.959999|21.959999| 8218800|
|2010-07-02|     23.0|     23.1|18.709999|19.200001|19.200001| 5139800|
|2010-07-06|     20.0|     20.0|    15.83|16.110001|16.110001| 6866900|
|2010-07-07|     16.4|16.629999|    14.98|     15.8|     15.8| 6921700|
|2010-07-08|16.139999|    17.52|    15.57|17.459999|17.459999| 7711400|
|2010-07-09|    17.58|     17.9|16.549999|     17.4|     17.4| 4050600|
|2010-07-12|17.950001|    18.07|     17.0|17.049999|17.049999| 2202500|
|2010-07-13|17.389999|18.639999|     16.9|18.139999|18.139999| 2680100|
|2010-07-14|17.940001|    20.15|    17.76|    19.84|    19.84| 4195200|
|2010-07-15|19.940001|     21.5|     19.0|19.889999|19.889999| 3739800|
|2010-07-16|20.700001|21.299999|20.049999|20.639999|20.639999| 2621300|
|2010-07-19|21.370001|    22.25|    20.92|    21.91|    21.91| 2486500|
|2010-07-20|    21.85|    21.85|20.049999|20.299999|20.299999| 1825300|
|2010-07-21|    20.66|     20.9|     19.5|20.219999|20.219999| 1252500|
|2010-07-22|     20.5|    21.25|20.370001|     21.0|     21.0|  957800|
|2010-07-23|21.190001|21.559999|21.059999|21.290001|21.290001|  653600|
|2010-07-26|     21.5|     21.5|20.299999|20.950001|20.950001|  922200|
|2010-07-27|    20.91|    21.18|    20.26|20.549999|20.549999|  619700|
+----------+---------+---------+---------+---------+---------+--------+
only showing top 20 rows

# Data Science PySpark Notebook
---

In [9]:
""" 
Column instance: df.colName; almost all functions from the pyspark.sql.functions module take one or more column instances as arguments. These functions are important for data manipulation
"""

df.show(n=5, truncate=False)

# pandas DataFrame -> spark DataFrame
# pdf = pd.read_csv('TSLA')
# df = spark.createDataFrame(pdf)

+----------+---------+-----+---------+---------+---------+--------+
|Date      |Open     |High |Low      |Close    |Adj Close|Volume  |
+----------+---------+-----+---------+---------+---------+--------+
|2010-06-29|19.0     |25.0 |17.540001|23.889999|23.889999|18766300|
|2010-06-30|25.790001|30.42|23.299999|23.83    |23.83    |17187100|
|2010-07-01|25.0     |25.92|20.27    |21.959999|21.959999|8218800 |
|2010-07-02|23.0     |23.1 |18.709999|19.200001|19.200001|5139800 |
|2010-07-06|20.0     |20.0 |15.83    |16.110001|16.110001|6866900 |
+----------+---------+-----+---------+---------+---------+--------+
only showing top 5 rows

In [10]:
df.dtypes

[('Date', 'string'),
 ('Open', 'double'),
 ('High', 'double'),
 ('Low', 'double'),
 ('Close', 'double'),
 ('Adj Close', 'double'),
 ('Volume', 'int')]

In [27]:
df(avg(col("High"))).show()

TypeError: 'DataFrame' object is not callable

In [34]:
df.agg(kurtosis(col("High"))).show()
df.agg(skewness(col("High"))).show()

+-------------------+
|     kurtosis(High)|
+-------------------+
|-0.5854562653993631|
+-------------------+

+--------------------+
|      skewness(High)|
+--------------------+
|0.011915565591975215|
+--------------------+

In [32]:
df.filter(df['High'] > 0).agg(mean(col("High"))).show()

+------------------+
|         avg(High)|
+------------------+
|189.57822425620878|
+------------------+

In [35]:
df.describe().show()

+-------+----------+------------------+------------------+------------------+------------------+------------------+-----------------+
|summary|      Date|              Open|              High|               Low|             Close|         Adj Close|           Volume|
+-------+----------+------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|      2416|              2416|              2416|              2416|              2416|              2416|             2416|
|   mean|      null| 186.2711466001655|189.57822425620878|182.91663908236822|186.40365078187054|186.40365078187054|5572721.688741722|
| stddev|      null|118.74016318157156|120.89232871387047|116.85759099326675|119.13601997634154|119.13601997634154|4987809.151888422|
|    min|2010-06-29|         16.139999|         16.629999|             14.98|              15.8|              15.8|           118500|
|    max|2020-02-03|        673.690002|        786.140015|         673.52002|             780.0|             780.0|         47065000|
+-------+----------+------------------+------------------+------------------+------------------+------------------+-----------------+

In [ ]:
# Make the describe function except for the other measures